/* TODO: design your profile with CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  background-color: rgb(240, 240, 240);
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-weight: 600;
  color: rgba(40, 121, 3, 0.699)
}

h2 {
  font-weight: 500;
  color: rgb(0, 255, 179)
}

a {
  color: red;
}

a:hover {
  color: pink
}

.card-white {
  background:white;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);    /* Light shadow */
  border-radius: 4px;
  padding: 24px;
  margin: 40px auto;
  width: 700px;
  text-align: center;
}

.btn-red {
  background-color: red;
  color: white;
  text-decoration: none;
  padding: 8px 24px;
  border-radius: 4px
}

.btn-red:hover {
  background-color: orange;
}

.social-link {
  list-style: none;
  padding: 0;
}
.social-link li {
  display: inline-flex;
}
